@mixin display {
  position: relative;
  display: flex;
  width: 330px;
}
.content {
  height: 250px;
  background-color: $primary-color;
}
.content-error {
  height: 250px;
  background-color: #FF3352;
}
.button-calculate button {
  display: block;
}

.content_EUR {
  @include display;
  margin-left: 0px;
}
.content_USD {
  @include display;
  margin-left: 60px;
}
.input-group-prepend {
  margin-right: -1px;
  display: flex;
  box-sizing: border-box;
}
.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color_gray;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid $color_gray_white;
  border-radius: 0.25rem;
}
.form-control {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color_gray;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $color_gray_white;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.content_input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 179px;
  margin: auto;
}
.button-calculate {
  display: flex;
  justify-content: center;
}
.calculate {
  background-color: $secundary-color;
  border: 1px solid white;
  color: white;
  width: 149px;
  height: 46px;
}
.Error {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  font-size: 22px;
}
.Error_text {
  display: flex;
  justify-content: center;
}
.Error_button {
  display: flex;
  text-decoration: none;
  color: white;
  width: 149px;
  margin: auto;
  align-content: center;
  border: 1px solid white;
  background-color: black;
  justify-content: center;
}