body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

.header {
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 40px 19px -30px rgba(50, 50, 50, 0.54);
}
.title {
  display: flex;
  justify-content: center;
}
