@import "lib/variable";
@import "header";
@import "content";
@import "notfound";

@media only screen and (max-width: 600px) {
  .content_input {
    display: block;
    padding-top: 32px;
  }
  .content_EUR {
    margin-left: 45px;
  }
  .content_USD {
    margin-top: 20px;
    margin-left: 45px;
  }
}
@media only screen and (max-width: 360px) {
  .content_EUR,
  .content_USD {
    width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .header {
    height: 235px;
  }

  .content_EUR,
  .content_USD {
    width: 248px;
  }
  .content_EUR,
  .content_USD {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 375px) {
  .header {
    height: 235px;
  }

  .content_EUR,
  .content_USD {
    width: 295px;
  }
  .content_EUR,
  .content_USD {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 411px) {
  .header {
    height: 235px;
  }

  .content_EUR,
  .content_USD {
    width: 325px;
  }
  .content_EUR,
  .content_USD {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 768px) {

}
