/*------------------------------
          $VARIABLE
--------------------------------*/

/* --COLOR-- */
$primary-color: #16a085;
$secundary-color: black;
$color_gray: #495057;
$color_gray_white: #ced4da;

/*-- FONT */
$primary-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
